---
import BaseLayout from '../layouts/BaseLayout.astro';
import LoginForm from '../components/LoginForm.jsx';
import AstroLoginForm from '../components/AstroLoginForm.astro';
import AstroLoginFormJS from '../components/AstroLoginFormJS.jsx';


---
<BaseLayout>
    <h1>Login Page</h1>
    <AstroLoginFormJS client:only />
</BaseLayout>