---
import { actions } from 'astro:actions';
import { useStore } from '@nanostores/react';


const result = Astro.getActionResult(actions.login);
console.log('Login result:', result);
---


<form method="POST" action={actions.login}>
  <label>
    Email:
    <input type="text" name="username" required />
  </label>
  <label>
    Password:
    <input type="password" name="password" required />
  </label>
  
  {result?.error && <p class="error">{result.error.message}</p>}
  
  <button type="submit">Log In</button>
</form>